/* .card-hover:hover {
     background-color: rgba(0, 150, 255, 0.05) !important; 
     filter: brightness(0.96) !important;
     transition: background-color 0.5s ease;
} */
.page-button {
     margin: 0 2px;
}
.dots {
    margin: 0 5px;
    display: none;
}
.pagination-buttons {
    margin-top: 15px;
}
.w-40{
    width: 40%;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-link:hover {
    background-color: #007bff;
    color: #ffffff !important;
}
.btn-edit{
    background-color: #FB8B24 !important;
    border-color: #FB8B24 !important;
    color: #ffffff !important;
}
/* .btn-warning {
    background-color: #FB8B24 !important;
    border-color: #FB8B24 !important;
    color: #ffffff !important; 
} */